@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-destaque: #FF5C2F;
    --cor-header: #1E252E;
    --cor-background: #202430;
}

body {
    width: 96vw;
    height: 96vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    color: white;
}

header {
    width: 97.2%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
    background-color: var(--cor-header);
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.166);
}

.logo{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

nav {
    color: white;
}

nav span{
    margin-left: 24px;
}

nav span:hover{
    color: #ff5c2f98;
    transition: 250ms;
}

nav span:nth-child(1){
    margin-left: 24px;
    color: #FF5C2F;
    font-weight: bold;
}

.icon {
    color: #FF5C2F;
    width: 25px;
    height: 25px;
}

.clickable {
    cursor: pointer;
}

main {
    height: calc(96vh - 65px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

.imagem {
    width: calc(max-content + 20px);
    height: max-content;
    background-image: linear-gradient(to left top, rgba(228, 227, 227, 0.247), rgba(95, 95, 95, 0.178), var(--cor-background));
    border-top: solid 2px #FF5C2F;
    border-radius: 6px 6px 48px 48px;
    box-shadow: 12px 6px 12px rgba(0, 0, 0, 0.342);
}

div.imagem img {
    border-radius: 0px 0px 48px 48px;
}

.mensagem {
    margin-top: 24px;
    height: 60px;
    margin-left: 24px;
    max-width: 600px;
    text-align: justify;
}

.mensagem aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#oi {
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

div.titulo span {
    color: #FF5C2F;
}

.descricao {
    text-indent: 24px;
}

.redes {
    margin-top: 48px;
    margin-left: 24px;
    padding: 6px;
    border-radius: 12px;
    border: solid 1px #FF5C2F;
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}