@charset "UTF-8";

:root {
    --cor-destaque: #FF5C2F;
    --cor-header: #1E252E;
    --cor-background: #202430;
}

main {
    flex: 1;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imagem {
    width: calc(max-content + 20px);
    height: max-content;
    background-image: linear-gradient(to left top, rgba(228, 227, 227, 0.247), rgba(95, 95, 95, 0.178), var(--cor-background));
    border-top: solid 2px #FF5C2F;
    border-radius: 6px 6px 48px 48px;
    box-shadow: 12px 6px 12px rgba(0, 0, 0, 0.342);
}

div.imagem img {
    border-radius: 0px 0px 48px 48px;
}

.mensagem {
    margin-top: 24px;
    height: 60px;
    margin-left: 24px;
    max-width: 600px;
    text-align: justify;
}

.mensagem aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#oi {
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

div.titulo span {
    color: #FF5C2F;
}

.descricao {
    text-indent: 24px;
}

.redes {
    margin-top: 48px;
    margin-left: 24px;
    padding: 6px;
    border-radius: 12px;
    border: solid 1px #FF5C2F;
    width: 30px;
    height: 30px;
}

.redes:hover {
    box-shadow: 3px 3px 6px #ff5c2f88;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}