@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-destaque: #FF5C2F;
    --cor-header: #1E252E;
    --cor-background: #202430;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
}

header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
    background-color: var(--cor-header);
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.166);
}

.logo{
    font-size: 2em;
    color: white;
}

nav {
    color: white;
}

nav span{
    margin-left: 24px;
}

nav span:hover{
    color: #ff5c2f98;
    transition: 250ms;
}

nav span:nth-child(1){
    margin-left: 24px;
    color: #FF5C2F;
    font-weight: bold;
}

.icon {
    color: #FF5C2F;
    
}