@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-destaque: #FF5C2F;
    --cor-header: #1E252E;
    --cor-background: #202430;
}

body {
    width: 93.75vw;
    height: 96vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    color: white;
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
    background-color: var(--cor-header);
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.166);
}

.logo{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

nav {
    color: white;
}

nav span{
    margin-left: 24px;
}

nav span:hover{
    color: #ff5c2f98;
    transition: 250ms;
}

nav span:nth-child(1){
    margin-left: 24px;
    color: #FF5C2F;
    font-weight: bold;
}

.icon {
    color: #FF5C2F;
    width: 25px;
    height: 25px;
}

main {
    height: calc(96vh - 65px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

.imagem {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border-top: solid 2px #FF5C2F;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.mensagem {
    margin-left: 24px;
    max-width: 600px;
    text-align: justify;
}

.titulo {
    font-size: 3em;
    font-weight: bolder;
}

div.titulo span {
    color: #FF5C2F;
}

.descricao {
    text-indent: 24px;
}

footer {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}