@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: #ff5c2f;
    --cor-background: #1e252e;
    --cor-sobreposicao: #202430;
    --cor-fonte: #fff;
}

html{
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--cor-background), var(--cor-sobreposicao));
    color: var(--cor-fonte);
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
}

.background-photo {
    background: url("../img/fundo-profile.jpg") no-repeat center center;
    background-size: cover;
}

.cover{
    background-image: linear-gradient(to bottom, #1e252e7e, #1e252e);
}

.nav-bar {
    padding: 24px;
    height: 12vh;
    text-align: center;
}

.menu-header{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-header a{
    font-size: .8em;
    text-decoration: none;
    color: var(--cor-fonte);
}

.menu-header a:visited {
    color: var(--cor-fonte);
}

.menu-header li#mark {
    color: var(--cor-destaque);
}

.menu-header li:hover {
    cursor: pointer;
}

.profile {
    padding: 96px 48px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.ul-profile {
    list-style-type: none;
}

.photo-profile {
    max-width: 300px;
    border-radius: 50%;
}

h1 {
    font-size: 2rem;
    color: var(--cor-destaque);
}

.container-redes {
    padding: 12px;
    
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.redes {
    width: 30px;
}

.redes:hover{
    cursor: pointer;
    opacity: 80%;
}

#projects {
    padding: 96px 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.container-projects {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}


.item-project{
    flex: 1 1 600px;
    border: 1px solid var(--cor-fonte);
    border-radius: 12rem;
    padding: 20px 24px 20px 48px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}


.description-title-projects {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title-item-project {
    width: 100%;
    color: var(--cor-destaque);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.links-projects {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.links-projects a {
    color: var(--cor-fonte);
    border: 1px solid var(--cor-fonte);
    border-radius: 12rem;
    padding: 3px 12px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 165px;

    transition: all .3s;
} 

.links-projects a:hover {
    color: var(--cor-background);
    background-color: var(--cor-fonte);
    border: 1px solid var(--cor-background);
}

.icon-link {
    width: 15px;
    height: 15px;
}

#technologies {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.container-technologies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.container-technologies img {
    border: 1px solid var(--cor-fonte);
    border-radius: 12rem;
}

#contacts {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.container-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: var(--cor-sobreposicao);
}

.contact {
    padding: .5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: all .3s;
}

.contact:hover {
    border: 1px solid var(--cor-fonte);
    margin-top: -4px;
    margin-left: -4px;
}

.redes-contact {
    width: 35px;
}

footer {
    text-align: center;
    font-size: .8rem;
}

.container-redes-footer {
    display: flex;
    justify-content: center;
    gap: .8rem;
    margin-bottom: .5rem;
}

.redes-footer {
    width: 22px;
}

.redes-footer:hover {
    opacity: 80%;
}

@media screen and (max-width: 640px) {
    .nav-bar {
        padding: 12px;
    }

    .menu-header {
        gap: 1rem;
    }
    
    .item-project {
        flex-wrap: wrap;
        border-radius: 4rem;
        padding: 20px 24px;
    }
    
    .links-projects {
        width: 100%;
        align-items: center;
    }

    .container-technologies {
        justify-content: center;
    }
}

@media screen and (max-width:540px) {
    .profile {
        padding: 48px 24px;
    }

    .photo-profile{
        width: 250px;
    }
}